<!DOCTYPE html>
<html>
    <head >
        <title>USER LOGIN</title>
        <link rel="stylesheet" type = "text/css" href="userLogin.css">
        


    </head>
    
    <body style="margin: 0;">
            
            <div class="navbar" >
            
                <button id = "menuButton">&#9881;</button>
                <h1>PixOra</h1>
                <div id="slidebar">
                    <a href="#">Home</a>
                    <a href="#" id = "dropDown">Login</a>
                    <a href="#">Register</a>
                    <a href="#">About Us</a>
                    <a href="#">Reviews</a>
                    <a href="#" id = "dropDown1">Sign Up</a>
                </div>
            </div>
             <div id = "submenu">
                        <a href="#">User Login</a>
                        <a href="#">Admin Login</a>
                        <a href="#">Vendor Login</a>
            </div>
             <div id = "submenu1">
                        <a href="#">User Signup</a>
                        <a href="#">Vendor Signup</a>
            </div>
            <div id="container">
                <h1>PixOra</h1>
                 <h1>Welcome to the login page!</h1>
                <div class = "loginBox">
                    <label for="username">Username </label>
                    <input type="text" id = "username" placeholder="Enter your username">
                    <br>
                    <label for="password">Password </label>
                    <input type="text" id = "password" placeholder="Enter your password">
                    <button id="loginButton">LOG IN</button>
                
                </div>
            </div>
                <div class="footer"></div>
        
            <script src="userLogin.js"></script>
 
    </body>

</html>
